<body class="front_end">
  <div id="header">
    <h1>Listing All Products</h1>
  </div>
  
  <div id="nav">
    <%= render :partial => 'front_end/usernav' %>
  </div>
  
  <div id="sidebar">
    <%= render :partial => 'front_end/searchform' %>
  </div>
  
  <div id="products">
    <%= render :partial => 'product', :collection => @products, :as => 'product' %>
  </div>
  
  <div id="footer">
    <%= render :partial => 'front_end/usernav' %>
  </div>
</body>