<body class="front_end">
  <div id="header">
    <h1>Search Results</h1>
  </div>
  
  <div id="nav">
    <%= render :partial => 'front_end/usernav' %>
  </div>
  
  <div id="sidebar">
    <%= render :partial => 'front_end/searchform' %>
  </div>
  
  <div id="results">
    <% if @products.size > 0 %>
      <%= render :partial => 'front_end/product', :collection => @products, :as => 'product' %>
    <% else %>
      <h3>No Results Found</h3>
    <% end %>
  </div>
  
  <div id="footer">
    <%= render :partial => 'front_end/usernav' %>
  </div>
</body>