<body>
  <head>
    <p>Listing products</p>
  </head>
  <%= link_to 'New Product', new_product_path %>
  <nav>
    <%= render 'nav' %>
  </nav>
  <br />
  
  <%= render @products %>
  
  <br />
  
  <%= link_to 'New Product', new_product_path %>
</body>